@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2");

}

@font-face {
	font-family: "Gilroy-Semibold";
	src: url("../fonts/Gilroy-Semibold.woff2") format("woff2");
}

.container{
	max-width: 1160px;
	margin: 0 auto;
	
}

img{
	max-width: 100%;
}

.header{
	padding-top: 12px;
	background: url("../img/backgraund.png");
	background-position: left;
	
}

.navigation{
	backdrop-filter: blur(15px);
	background: rgba(255, 255, 255, 0.9);
	border-radius: 75px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
   flex-wrap: wrap;
	padding: 18px 0 20px 0;
}

.navigation img{
	margin-left: 21px;
	width: 53px;
	height: 19.46px;
}

.navigation a{
	font-family: Gilroy;
	font-size: 13px;
	font-weight: 400;
	line-height: 104.4%;
	letter-spacing: 0%;
	text-align: center;
	color: rgb(34, 37, 59);	
}

.navigation__menu{
	display: flex;
	gap: 41.1px;
	flex-direction: row;
	align-items: center;
}

.navigation__menu_2{
	display: flex;
	gap: 15px;
	flex-direction: row;
	align-items: center;
}

.button_1{
	border-radius: 34px;
	background: rgb(56, 191, 242);
	width: 77.9px;
	height: 30.73px;
	color: aliceblue;
	margin-right: 10px;
}

.button_1::before{
	content: url('../img/arrow.png');
}
.headContent{
	display: flex;
	align-items: center;
}

.headContent__leftSide h1{
	font-size: 46px;
	font-weight: 500;
	line-height: 46px;
	letter-spacing: 0%;
	text-align: left;
	font-family: Gilroy;
	width: 638px;
}

.headContent__leftSide span{
	color: rgb(241, 85, 37);
}

.headContent__leftSide strong{
	font-weight: 700;
}

.hr-line {
	margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border: 1px solid rgb(222, 222, 222);
}


.headText{
	font-family: Gilroy;
	font-size: 16px;
	font-weight: 700;
	line-height: 23px;
	letter-spacing: 0%;
	text-align: left;
	color: rgb(34, 37, 59);
	max-width: 365.22px;;
}
.button_2{
	border-radius: 82px;
	background: rgb(241, 85, 37);
	font-family: Gilroy;
	font-size: 20px;
	font-weight: 700;
	line-height: 96.69%;
	letter-spacing: -3%;
	text-align: center;
	color: rgb(255, 255, 255);
	width: 321px;
	height: 70px;
	margin-top: 18px;
}

.head-img{
	margin-bottom: 66px;
	margin-top: 61px;
}

.button_2::after{
	margin-left: 12px;
	content: url('../img/arrow_2.png');
}

.technology h2{
	font-family: Gilroy-Semibold;
	font-size: 46px;
	font-weight: 700;
	line-height: 46px;
	text-align: center;
	color: rgb(34, 37, 59);
	margin-top: 100px;
	margin-bottom: 35px;
}

.technology__block{
	border-radius: 48px;
	background: rgb(234, 242, 245);
	display: flex;
	align-items: center;
	margin-bottom: 85px;

}

.technology__block img{
	margin: 42px 0 0 123px;
}

.block_text{
	margin-left: 59px;
}

.block_text p{
	color: rgb(34, 37, 59);
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 0%;
	text-align: left;
	font-family: Gilroy;
	margin-right: 185px;
}

.block_button_main{
	color: rgb(255, 255, 255);
	font-family: Gilroy;
	font-size: 17px;
	font-weight: 700;
	line-height: 46px;
	letter-spacing: 0%;
	text-align: center;
	max-width:467px;
	text-align: left;
}
.block_button{
	border-radius: 44px;
	height: 45.13px;
	margin-bottom: 11px;
}
.block_button_1{
	background: rgb(80, 150, 255);	
	width: 311px;
}
.block_button_2{
	background: rgb(255, 179, 89);
	width: 89px;
}

.block_button_3{
	background: rgb(255, 111, 80);
	width: 151.17px;
}

.block_button_4{
	background: rgb(75, 208, 113);
	width: 277.48px;
}

.block_button_5{
	background: rgb(80, 192, 255);		
	width: 258px;
}
.block_button_6{
	background: rgb(75, 119, 185);
	width: 95px;
}

.block_button_7{
	background: rgb(175, 147, 255);
	width: 93.83px;
}

.educationInYtYt h2{
	font-family: Gilroy-Semibold;
	font-size: 46px;
	font-weight: 700;
	line-height: 46px;
	text-align: center;
	color: rgb(34, 37, 59);
	margin-top: 100px;
	margin-bottom: 35px;
	width: 598px;
	margin: 0 auto;
}

.educationInYtYt__blocks{/*Убрать отступ*/
	padding-bottom: 100px;
}

.blocks_four{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 34px;
}

.blocks_three{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 27px;
	align-items: center;
	gap: 27px;
}

.block{
	border-radius: 30px;
	background: rgb(234, 242, 245);
	width: 270px;
	height: 254px;
	padding-top: 50px;
}

.block img{
	display: block;
	margin: 0 auto;
}

.block h4{
	font-family: Gilroy;
	font-size: 16px;
	font-weight: 600;
	line-height: 18.5px;
	letter-spacing: 0%;
	text-align: center;
	color: rgb(34, 37, 59);
	margin: 19px 52px 10px 52px;
}

.block p{
	font-family: Gilroy;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0%;
	text-align: center;
	color: rgb(34, 37, 59);
	margin: 0px 52px 31px 52px;
}

/* ******************************** */
.training{
	background: url("../img/backgraund.png");
	background-position: center;
	padding-top: 55px;
	padding-bottom: 90px;
	
}

.taraining__video{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.taraining__video h2{
	color: rgb(34, 37, 59);
	font-family: Gilroy;
	font-size: 46px;
	font-weight: 600;
	line-height: 46px;
	letter-spacing: 0%;
	text-align: center;

}

.taraining__video p{
	font-family: Gilroy;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0%;
	text-align: center;
	color: rgb(34, 37, 59);
	width: 642px;
	margin: 28px auto;
}

.notebook_img{
	
}

.training__blocks{
	border-radius: 40px;
	box-shadow: 0px 81px 120px -77px rgba(34, 37, 59, 0.04);
	background: rgb(255, 255, 255);
	height: 349px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;
}

.t-block{
	padding-bottom: 55px;
	padding-top: 56px;
}

.t-block h4{
	font-family: Gilroy;
	font-size: 77px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0%;
	text-align: left;
	color: rgb(56, 191, 242);

}

.t-block h5{
	font-family: Gilroy;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	letter-spacing: 0%;
	text-align: left;
	color: rgb(34, 37, 59);
	width: 266px;
	margin-top: 1em;
	margin-bottom: 1em;
}

.t-block p{
	font-family: Gilroy;
	font-size: 16px;
	font-weight: 700;
	line-height: 23px;
	letter-spacing: 0%;
	text-align: left;
	color: rgb(34, 37, 59);
	width: 232px;
}

.training__button{
	border-radius: 110px;
	background: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	max-width: 538px;
	margin-top: 26px;
	padding: 12px 14px;
}

.but-train::after{
	margin-left: 12px;
	content: url('../img/arrow_2.png');
}

.but-train{
	border-radius: 82px;
	background: rgb(241, 85, 37);
	padding: 27px 25px;
	font-family: Gilroy;
	font-size: 16px;
	font-weight: 700;
	line-height: 96.69%;
	letter-spacing: -3%;
	text-align: center;
	color: rgb(255, 255, 255);
}

.training__button p{
	font-family: Gilroy;
	font-weight: 200;
	line-height: 18px;
	letter-spacing: 0%;
	text-align: left;
	color: rgb(34, 37, 59);
	max-width: 214px;
	margin-left: 24px;
}

/* ******************************** */
.helpAndMethod{
	box-sizing: content-box;
	border-radius: 80px;
	background: rgb(255, 255, 255);
	padding: 60px 100px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 30px;
	grid-auto-flow: row dense;
	grid-template-areas:
	"item1 item2 item2"
	"item3 item3 item4";
}

.item1 { grid-area: item1; padding: 41px 60px; }
.item2 { grid-area: item2; padding: 41px 60px;}
.item3 { grid-area: item3; padding: 41px 60px;}
.item4 { grid-area: item4; padding: 41px 60px;}


.item h4{
	font-size: 32px;
	font-weight: 600;
	line-height: 30px;
	color: rgb(34, 37, 59);
	font-family: Gilroy;
}
.item{
	border-radius: 40px;
	background: rgb(234, 242, 245);	
}

.item p{
	font-family: Gilroy;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	text-align: left;
	color: rgb(34, 37, 59);
	margin-top: 1em;
	margin-bottom: 1em;
}

/* ***************************** */

.start_edu{
	background: rgb(234, 242, 245);
	border-radius: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;
	align-items: center;
	padding: 65px 0 77px 0;
}


.start_edu p{
	width: 600px;
	font-family: Gilroy;
	font-size: 17px;
	font-weight: 700;
	line-height: 22px;
	text-align: left;
	color: rgb(34, 37, 59);
}

.start_edu button{
	width: 311px;
}
/* ***************************** */

.footer{
margin-bottom: 28px;
margin-top: 63px;
}

.footer_main{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 46px;
}

.main-footer1{

}

.main-footer1__img1{
	font-family: Gilroy;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	letter-spacing: 0%;
	text-align: left;
	color: rgb(142, 142, 142);
	padding-bottom: 40px;
	/* width: 38px; */
}

.main-footer1__img1::before{
	margin-right: 19px;
	content: url('../img/YtYt.png');
}

.mai-footer2{
	display: flex;
	flex-wrap: wrap;
   align-content: center;
   justify-content: flex-end;
	gap: 166px;
}

.main-footer2__1 ul li{
	font-family: Gilroy;
	font-size: 13px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0%;
	text-align: left;
	color: rgb(34, 37, 59);
}

.main-footer2__2{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}



.main-footer3__phone{
	font-family: Gilroy;
	font-size: 16px;
	font-weight: 400;
	line-height: 23px;
	text-align: left;
	color: rgb(56, 191, 242);
}

.main-footer3__ip{
	font-family: Gilroy;
	font-size: 13px;
	font-weight: 400;
	line-height: 23px;
	text-align: left;
	color: rgb(142, 142, 142);
}


.footer_copyright{
	border-top: 1px solid rgb(216, 216, 216);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.footer_copyright a{
	font-family: Gilroy;
	font-size: 16px;
	font-weight: 400;
	line-height: 23px;
	text-align: left;
	color: rgb(142, 142, 142);
}

.copyright2{margin-left: 32px;}
