@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2");

}

@font-face {
	font-family: "Gilroy-Semibold";
	src: url("../fonts/Gilroy-Semibold.woff2") format("woff2");
}

.container{
	max-width: 1160px;
	margin: 0 auto;
	
}

.header{
	padding-top: 12px;
	background-image: url("../img/backgraund.png");
	background-position: left;
}

.navigation{
	backdrop-filter: blur(15px);
	background: rgba(255, 255, 255, 0.9);
	border-radius: 75px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
   flex-wrap: wrap;
	padding: 18px 0 20px 0;
}

.navigation img{
	margin-left: 21px;
	width: 53px;
	height: 19.46px;
}

.navigation a{
	font-family: Gilroy;
	font-size: 13px;
	font-weight: 400;
	line-height: 104.4%;
	letter-spacing: 0%;
	text-align: center;
	color: rgb(34, 37, 59);	
}

.navigation__menu{
	display: flex;
	gap: 41.1px;
	flex-direction: row;
	align-items: center;
}

.navigation__menu_2{
	display: flex;
	gap: 15px;
	flex-direction: row;
	align-items: center;
}

.button_1{
	border-radius: 34px;
	background: rgb(56, 191, 242);
	width: 77.9px;
	height: 30.73px;
	color: aliceblue;
	margin-right: 10.9px;
}

.button_1::before{
	content: url('../img/arrow.png');
}
.headContent{
	display: flex;
	align-items: center;
}

.headContent__leftSide{

}

.headContent__leftSide h1{
	font-size: 46px;
	font-weight: 500;
	line-height: 46px;
	letter-spacing: 0%;
	text-align: left;
	font-family: Gilroy;
	width: 638px;
}

.headContent__leftSide span{
	color: rgb(241, 85, 37);
}

.headContent__leftSide strong{
	font-weight: 700;
}

.hr-line {
	margin: 20px 0;
	padding: 0;
	height: 0;
	border: none;
	border: 1px solid rgb(222, 222, 222);
}


.headText{
	font-family: Gilroy;
	font-size: 16px;
	font-weight: 700;
	line-height: 23px;
	letter-spacing: 0%;
	text-align: left;
	color: rgb(34, 37, 59);
	max-width: 365.22px;;
}
.button_2{
	border-radius: 82px;
	background: rgb(241, 85, 37);
	font-family: Gilroy;
	font-size: 20px;
	font-weight: 700;
	line-height: 96.69%;
	letter-spacing: -3%;
	text-align: center;
	color: rgb(255, 255, 255);
	width: 321px;
	height: 70px;
	margin-top: 18px;
}

.head-img{
	margin-bottom: 66px;
	margin-top: 61px;
}

.button_2::after{
	margin-left: 12px;
	content: url('../img/arrow_2.png');
}

.technology h2{
	font-family: Gilroy-Semibold;
	font-size: 46px;
	font-weight: 700;
	line-height: 46px;
	text-align: center;
	color: rgb(34, 37, 59);
	margin-top: 100px;
	margin-bottom: 35px;
}

.technology__block{
	border-radius: 48px;
	background: rgb(234, 242, 245);
	display: flex;
	align-items: center;
	margin-bottom: 85px;

}

.technology__block img{
	margin: 42px 0 0 123px;
}

.block_text{
	margin-left: 59px;
}

.block_text p{
	color: rgb(34, 37, 59);
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 0%;
	text-align: left;
	font-family: Gilroy;
	margin-right: 185px;
}

.block_button_main{
	color: rgb(255, 255, 255);
	font-family: Gilroy;
	font-size: 17px;
	font-weight: 700;
	line-height: 46px;
	letter-spacing: 0%;
	text-align: center;
	max-width:467px;
	text-align: left;
}
.block_button{
	border-radius: 44px;
	height: 45.13px;
	margin-bottom: 11px;
}
.block_button_1{
	background: rgb(80, 150, 255);	
	width: 311px;
}
.block_button_2{
	background: rgb(255, 179, 89);
	width: 89px;
}

.block_button_3{
	background: rgb(255, 111, 80);
	width: 151.17px;
}

.block_button_4{
	background: rgb(75, 208, 113);
	width: 277.48px;
}

.block_button_5{
	background: rgb(80, 192, 255);		
	width: 258px;
}
.block_button_6{
	background: rgb(75, 119, 185);
	width: 95px;
}

.block_button_7{
	background: rgb(175, 147, 255);
	width: 93.83px;
}

.educationInYtYt h2{
	font-family: Gilroy-Semibold;
	font-size: 46px;
	font-weight: 700;
	line-height: 46px;
	text-align: center;
	color: rgb(34, 37, 59);
	margin-top: 100px;
	margin-bottom: 35px;
	width: 598px;
	margin: 0 auto;
}

.educationInYtYt__blocks{/*Убрать отступ*/
	padding-bottom: 100px;
}

.blocks_four{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 34px;
}

.blocks_three{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 27px;
	align-items: center;
	gap: 27px;
}

.block{
	border-radius: 30px;
	background: rgb(234, 242, 245);
	width: 270px;
	height: 254px;
	padding-top: 50px;
}

.block img{
	display: block;
	margin: 0 auto;
}

.block h4{
	font-family: Gilroy;
	font-size: 16px;
	font-weight: 600;
	line-height: 18.5px;
	letter-spacing: 0%;
	text-align: center;
	color: rgb(34, 37, 59);
	margin: 19px 52px 10px 52px;
}

.block p{
	font-family: Gilroy;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0%;
	text-align: center;
	color: rgb(34, 37, 59);
	margin: 0px 52px 31px 52px;
}